{% extends "layout.html" %}

{% block title %}AI Project Tool{% endblock %}

{% block content %}
<style>
  body {
    background-color: #f9f9f9; /* Dark background */
    color: #ffffff; /* White text for better contrast */
  }

  .bokeh-container {
    padding: 20px;
    background-color: #f9f9f9; /* Match the plot's background */
    border-radius: 8px;
    display: flex;
    justify-content: center;
  }
</style>

<div class="bokeh-container">
    {{ script|safe }}
    {{ div|safe }}
</div>
{% endblock %}