<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Visualization{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.0.0.min.js"></script>
    {% block extra_scripts %}{% endblock %}
  </head>
  <body>
    <script src="{{ url_for('static', filename='tab_script.js') }}"></script>

    <header>
      <h1>AI-CTO: Project Portfolio Visualization Tool</h1>
      <nav>
        <ul class="tabs">
          <li><a href="{{ url_for('index') }}" class="tab-link" data-tab="home">Home</a></li>
          <li><a href="{{ url_for('visualize') }}" class="tab-link" data-tab="visualize">Visualization</a></li>
          <li><a href="{{ url_for('previous_projects') }}" class="tab-link" data-tab="previous-projects">Previous Projects</a></li>
          <li><a href="{{ url_for('update_project') }}" class="tab-link" data-tab="update-project">Update Project</a></li>
      </ul>
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer></footer>
  </body>
</html>
